/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

/* nav bar */
.main-container-nav {
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;  
    width: 100%;
    margin-bottom: 30px;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    overflow: hidden;
    background-color: white;
}

.left {
    width: 161px;
}

.left img {
    display: flex;
    width: 61px;
    height: 19px;
    margin: 0 50px;
}

.right {
    display: flex;
    width: 279px ;
    height: 35px;
    padding: 0 25px;
    flex-direction: row; 
    justify-content: space-around;
    margin-bottom: 45px;
    margin-right: 0.31px;
    gap: 68px;
}

.right a {
    width: auto;
    font-size: 16px;
    text-decoration: none;
    color: black;
    height: auto;
    padding-top: 14px;
}

.right :hover {
    border-top: solid 2px #0065FC;
    cursor: pointer;
    text-decoration: none;
    color: #0065FC;
}

.right .current {
    border-top: solid 2px #0065FC;
    cursor: pointer;
    text-decoration: none;
    color: #0065FC;
}
  
/* title */
.title p {
    margin: 0;
    padding-top: 8px;
}

/* search bar */
.container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 377px;
    border-radius: 15px; 
    border: 1px solid #F2F2F2;
    margin-top: 35px;
}

.fa-sharp {
    width: auto;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    color: #000000;
    display: flex;
    padding: 0 20px;
    align-items: center;
    font-size: 18px;
}

.fa-magnifying-glass {
    display: none;
}

.container input {
    width: 100%;
    height: 49px;
    font-size: 18px;
    text-align: center;
    color: #000000;
    border: none;
    padding: 0 24px;
}

.container button {
    height: 49px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    font-size: 18px;
    font-weight: bold;
    background: #0065FC;
    color: #DEEBFF;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
}

.container :hover {
    cursor: pointer;
    text-decoration: none;
    color: #061120;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* filter */
.icones {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.icones ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 758px;
}

.icones li {
    display: flex;
    height: 50px;
    width: auto;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 2px solid ;
    border-radius: 50px;
    align-items: center;
    padding: 0 19px;
}

.icones ul :hover {
    cursor: pointer;
    text-decoration: none;
    background: var(--blue-light, #DEEBFF);
}

li i {
    font-size: 20px;
    padding-right: 15px;
}

.icones h3 {
    font-size: 1.2em;
}

.filter {
    margin-right: 15px;
}

/* information */
.info {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
}

.info i {
    display: flex;
    width: 24px;
    height: 24px;
    border: #F2F2F2 2px solid;
    border-radius: 50%;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.info p {
    margin-left: 10px; 
    padding-top: 5px;
}

/* main */
body {
    display: flex;
    justify-content: center;
}

.main-container {
    padding: 0 50px;
    box-sizing: border-box;
    gap: 35px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding: 0 50px; 
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
